.pio
.vscode/.browse*
.vscode/extensions.json
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
src/auth.h
lib/
*.swp
docker/node_modules
docker/config.json

.vscode/c_cpp_properties.json
.vscode/launch.json
